/* ============= */
/* Font families */
/* ============= */
body {
	font-family: 'Arial';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
}

/* ========== */
/* Font sizes */
/* ========== */
h1 {
	font-size: 48pt;
}

h2 {
	font-size: 20pt;
}

h3 {
	font-size: 16pt;
}

h4 {
	font-size: 14pt;
}

body {
	font-size: 10pt;
}

h1, h2 {
	page-break-before: always;
}

img {
	page-break-inside: avoid;
	break-inside: avoid;
	page-break-before: always;
	display: block;
	width: 100%;
	object-fit: cover;
	object-position: center;
	margin-top: auto;
	margin-bottom: auto;*/
}

body {
	-webkit-print-color-adjust: exact;
}

blockquote {
	border-left: 3px solid rgb(183, 185, 185);
	background-color: rgb(245,245,245);
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

p {
	text-align: justify;
	text-justify: inter-word;
}